
extends layout

block append vars
	- bodyclass = 'article-detail'

block prepend title
	| #{ page.title + " - "}

block header


block content
	include comments

	article(class="article #{page.metadata.styleClass || ''}")
		div.content-wrap
			header
				p.picto
					i(class="#{ page.metadata.icon }")
				h1= page.title

			section.content!= typogr(page.html).typogrify()
	+comments()


block prepend footer
	div.nav
		a(href=contents.index.url) « Full blog


